@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);


body{
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-image: url("freebay.png");
}
.myt
{
	
	width:100%;
	background-color: #007bff;
	
	
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 50px;
}

#narn
{
	font-family: Quicksand, sans-serif;
    font-weight: 800;
	font-size: 140%;
	
	width: 100%;
  padding: 10px;
  border: 1px;
  margin: 0; 
	
	
}

#title
{
	font-family: Quicksand, sans-serif;
    font-weight: 700;
	font-size: 120%;
	color: yellow;
 
	
	width: 100%;
  padding: 10px;
  border: 1px;
  margin-top: -10px; 
	
	
}

.row {
    overflow: hidden;
}
.column {
    float: left;
    margin: 20px;
    padding-bottom: 100%;
    margin-bottom: -100%;
}
.sidenav
{
	position: relative;
	top: -20px;
	height: 100%;
	width:100%;
	background-color: #007bff;
	
}



#t1
{
	font-family: Quicksand, sans-serif;
    font-weight: 800;
	font-size: 240%;
	
	width: 100%;
  padding: 10px 10px ;
  
  border: 5px;
 
  margin-bottom: 5px;
 padding-top:200px; 
	
	
	
}


#t2
{
	font-family: Quicksand, sans-serif;
    font-weight: 800;
	font-size: 140%;
	
	color: white;
	width: 100%;
  padding: 10px;
  border: 1px;
  margin: 0
	
	
	
}

.container
{
	position:relative;
	left: -50px;
	width:200%;
	
}
label *
{
	color:red;
	
}
.navbar-laravel
{
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

.navbar-brand , .nav-link, .my-form, .login-form
{
    font-family: Quicksand, sans-serif;
}

.my-form
{
    
	padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}